@import "tailwindcss";

body{
  margin:0;
  padding:0;
  background:#efefef;
  font-family:Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar { display: none; }
* { scrollbar-width: none; -ms-overflow-style: none; }

#root{
  width:100%;
}

.marquee-text{
  display:inline-block;
  padding-left:100%;
  animation:scroll-left 25s linear infinite;
}

@keyframes scroll-left{
  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-100%);
  }
}

.scroll-up {
  animation: scroll-up 30s linear infinite;
}

@keyframes scroll-up {
  from { transform: translateY(0); }
  to   { transform: translateY(-50%); }
}

/* Swiper arrows
.custom-swiper-container .swiper-button-next,
.custom-swiper-container .swiper-button-prev{
  width:34px !important;
  height:34px !important;
  border-radius:50%;
  background:#ed1c24 !important;
}

.custom-swiper-container .swiper-button-next:after,
.custom-swiper-container .swiper-button-prev:after{
  color:white !important;
  font-size:14px !important;
  font-weight:bold;
} */